@import url("https://fonts.googleapis.com/css?family=Outfit");

body{
    background-color: yellow;
    font-family: "Outfit, sans-serif";
}

.conteudo{
    text-align: center;
    background-color: yellow;
    width: 80%;
    max-width: 1200px;
    margin: 10px auto;
}

.oferta{
    text-align: center;
    
}

button{
    background-color: rgb(33, 51, 102);
    border-radius: 10px;
    padding: 10px 20px; 
    color: yellow; 
    border: none; 
    cursor: pointer; 
}

button:hover{
    color:  rgb(33, 51, 102);
    background-color: yellow;
    transform: scale(1.1);
    transition: 1.5s;

}

#logo{
    width: 20%;   
}

#fotofundo{
    border-radius: 5%  
}
